@import url('https://fonts.googleapis.com/css2?family=Koulen&display=swap');
*{
    box-sizing: border-box;
}
.container{
    width: 1100px;
    margin: 0 auto;
}
/*nav*/
nav{
    background-color: #2f323b;
    padding: 10px   ;
}
.nav__content{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav__content .right{
    display: flex;
    align-items: center;
    gap: 20px;
}

.nav__content .right a:hover{
    color: #de9536;
}
.nav__content .left a{
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 32px;
    font-family: 'Koulen', cursive;
    letter-spacing: 5px;

}
.nav__content .left a:hover{
    color: #0963ce;
}
nav a{
    transition: color .3s;
    color: #fff;
    text-decoration: none;
}
/*header*/
header{
    background-color: #2d3038;
    padding: 100px;
}
.header__content{
    display: flex;
    flex-direction: column;
    gap: 50px;
}

header .row{
    display: flex;
    justify-content: space-between;
}
header .item{
    background-color: #3b3d47;
    color: #fff;
    width: 300px;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform .3s;
}
header .item:hover{
    transform: scale(1.1);
}
header .item:hover a{
    color: #de9536;
}
header .item a{
    color: #fff;
    text-decoration: none;
}
/*header form*/
header form{
    width: 800px;
    padding: 20px 50px;
    border: 1px solid #de9536;
    border-radius: 12px;
    margin: 0 auto;
    position: relative;
}
header form input:not(input[type=checkbox]){
    border-radius: 12px;
    display: block;
    width: 100%;
    padding: 10px 15px;
    margin: 10px 0;
    border: none;
    outline: none;
    background-color: rgba(222, 149, 54, 0.27);
    color: #fff;

}
header form textarea{
    border-radius: 12px;
    display: block;
    width: 100%;
    padding: 10px 15px;
    margin: 10px 0;
    border: none;
    outline: none;
    background-color: rgba(222, 149, 54, 0.27);
    color: #fff;
    height: 200px;
}
header .detail-box{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 50px 0;
}
header .detail-box .items  {
    width: 45%;
}
header form label{
    color: #fff;
    font-weight: 900;
}
header form h1{
    color: #ffffff;
    text-align: center;
    font-size: 32px;

}
header input[type=submit]{
    transition: background-color .3s;
}
header input[type=submit]:hover{
    background-color: #de9536;
}
.pre-img{
    position: absolute;
    top: 150px;
    right: -155px;
    width: 150px;
    height: 100px;
    padding: 2px;
    border: 1px solid #de9536;
}
.pre-img img{
    width: 100%;
    height: 100%;
}
.hidden{
    display: none;
}
/*messages*/
.success{
    width: 800px;
    background-color: #2b9227;
    margin: 0 auto;
    color: #fff;
    padding: 20px;
    text-align: center;
}
.errors{
    width: 800px;
    background-color: #92272b;
    margin: 0 auto;
    color: #fff;
    padding: 20px;
    text-align: center
}
/*footer*/
footer{
    background-color: #de9536;
    padding: 50px;
    color: #fff;
}
.footer__content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    gap: 10px;

}

/*all*/
.all{
    background-color: #2d3038;
    padding: 100px;
    color: #fff;
}
.all table{
    width: 100%;
    padding: 20px;
    border-collapse: collapse;
    border-radius: 12px;
    margin: 0 auto;
}
.all h1{
    font-size: 32px;
    margin-bottom: 50px;
    text-align: center;
}
.all td{
    padding: 10px 15px;
    border: 1px solid  #de9536;

}
.all a{
    color: #fff;
}